.card {
  width: 60%;
  text-align: center;

  &-title {
    font-size: 2rem;
    margin: 2rem 0;
    letter-spacing: 5px;
  }

  &-body {
    padding: 1rem 0;
    font-size: 1.2rem;
  }

  &-btns {
    margin: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
